<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
</button> -->
    <span>Gestion Medica ATPS</span>
    <span class="example-spacer"></span>
    <button type="button" class="btn btn-outline-primary"><span routerLink="/home/">Inicio</span></button>
    <button type="button" class="btn btn-outline-secondary"><span routerLink="/servicios/">Servicios</span></button>
    <button type="button" class="btn btn-outline-info"><span routerLink="/nosotros/">Nosotros</span></button>
    <button type="button" class="btn btn-outline-warning"><span routerLink="/productos/">Productos</span></button>
    <button type="button" class="btn btn-outline-success" routerLink="/login/"><span> Users</span></button>
    <button type="button" class="btn btn-outline-danger" routerLink="/loginadmin/"><span >Admin</span></button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
    <div class="demo-section">
        <button mat-raised-button color="primary" matBadge="15" matBadgePosition="before" matBadgeColor="accent"><span routerLink="/notify">
          Notify
        </span>
  </button>
    </div>
</mat-toolbar>