<div class="mis-redes" style="display: block;position: fixed;bottom: 1rem;left: 1rem; opacity: 0.5; z-index: 1000;">
    <p style="font-size: .75rem;">Gestion ATPS- Grupo 6 Alejandro Baquerizo</p>
</div>
<mat-icon class="material-symbols-outlined" fontIcon="home" matTooltip="Ver" routerLink="/home"></mat-icon>
<mat-icon class="material-symbols-outlined" fontIcon="person" matTooltip="Ver" routerLink="/admin"></mat-icon>
<br>
<br>
<div class="container textcenter">
    <div class="form-control-lg">
        <label for="nombre" class="form-label">Nombre</label>
        <br>
        <input type="text" [(ngModel)]="producto" class=" form-control-lg " placeholder="nombre">
        <br>
        <label for="tipoproducto " class="form-label ">Tipo de producto</label>
        <br>
        <input type="text " [(ngModel)]="tipoProducto " class=" form-control-lg " placeholder="tipo de producto">
        <br>
        <label for="cantidad " class="form-label ">Cantidad</label>
        <br>
        <input type="number " [(ngModel)]="cantidad " class="form-control-lg " placeholder="cantidad">
        <br>
        <label for="estado " class="form-label ">Estado</label>
        <br>
        <input type="text" [(ngModel)]="estado " class="form-control-lg " placeholder="estado">
        <button class="btn btn-outline-success m-2 " (click)="agregarInventario() ">Agregar Producto</button>
        <button class="btn btn-outline-warning " (click)="ObtenerInventario()">Consultar Producto</button>
    </div>
</div>

<div class="container ">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th scope="col ">Codigo</th>
                <th scope="col ">Nombre del Producto</th>
                <th scope="col ">Tipo del producto</th>
                <th scope="col ">Cantidad Existente</th>
                <th scope="col ">Estado</th>
            </tr>
        </thead>
        <tbody>
            @for(elem of listInventario; track elem){
            <tr>
                <td>{{elem.id}}</td>
                <td>{{elem.producto}}</td>
                <td>{{elem.tipoProducto}}</td>
                <td>{{elem.cantidad}}</td>
                <td>{{elem.estado}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
